* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #888888;
}

.app {
    background: #eeedee;
    width: 90%;
    max-width: 600px;
    margin: 70px auto 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #b483f5;
    font-weight: 600;
    border-bottom: 1px solid #8e3cfa;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18;
    color: #b483f5;
    font-weight: 600;
}